.directory
dist/
docs/jsdoc/
.DS_Store
.idea
.jsbeautifyrc
*.kate-swp
*.njsproj
node_modules/
npm-debug.log*
*.ntvs*
old/
selenium-debug.log
*.sln
*.suo
*swp
test/e2e/reports
test/unit/coverage
.tmp/
yarn-debug.log*
yarn-error.log*
*.map

#
src/index.html
